__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
#.env
*.log

hbase-data/
hadoop_data/
mongo-data/
models/
logs/
tmp/
*.pid

.ipynb_checkpoints/
*.sqlite3
.cache/
.streamlit/
__pycache__/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

node_modules/
dist/
build/