#version: '3.8'

services:

  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # Kafka
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"     # external access (e.g. from host)
      - "29092:29092"   # internal access from other containers
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL


  # Spark Master
  spark-master:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    container_name: spark-master
    ports:
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./streaming:/opt/spark/work-dir/streaming
    environment:
      - PYTHONPATH=/opt/spark/work-dir
    command: ["/opt/spark/bin/spark-submit", "/opt/spark/work-dir/streaming/spark_streaming.py"]

  spark-worker:
    build:
      context: .
      dockerfile: docker/spark/Dockerfile
    container_name: spark-worker
    depends_on:
      - spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
    ports:
      - "8081:8081"
    volumes:
      - ./streaming:/opt/spark/work-dir/streaming


  # HDFS Namenode
  hdfs-namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-namenode
    environment:
      - CLUSTER_NAME=hadoop-cluster
    ports:
      - "9870:9870"
    volumes:
      - namenode:/hadoop/dfs/name

  # HDFS Datanode
  hdfs-datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-datanode
    depends_on:
      - hdfs-namenode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://hdfs-namenode:8020
    ports:
      - "9864:9864"
    volumes:
      - datanode:/hadoop/dfs/data

  # HBase
  hbase:
    image: dajobe/hbase:latest
    container_name: hbase
    ports:
      - "16010:16010"  # Web UI
      - "9090:9090"    # Thrift API
    environment:
      - HBASE_MANAGES_ZK=true
    volumes:
      - ./hbase-data:/opt/hbase-data



  # MongoDB
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"

  producer:
    build:
      context: ./docker/crypto-producer
    depends_on:
      - kafka
    restart: unless-stopped

  flask:
    build:
      context: .
      dockerfile: dashboard/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - HBASE_THRIFT_HOST=hbase
      - HBASE_THRIFT_PORT=9090
    depends_on:
      - hbase


volumes:
  namenode:
  datanode:
